.row-header {
    margin: 0px auto;
    padding: 0px auto;
}

.row-header p {
    font-size: xxx-large;
    color: rgb(117, 4, 223);
    font-weight: 400;
}

.jumbotron {
    background-color: darkgrey;
    margin: 0px 0px;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.header {
    background-color: blueviolet;
    color: whitesmoke;
}

.code-snippet {
    width: fit-content;
    height: fit-content;
}

.code-snippet-textarea {
    border: none;
    margin: 0px 0px;
}

.codeCard {
    box-shadow: 5px 5px 8px gray;
}

.codeCard .card-header {
    background-color: rgb(197, 162, 230);
    color: white;
}

.codeCard .card-footer {
    background-color: rgb(119, 116, 121);
    color: white;
}

#searchRow {
    background-color: lightslategray;
}
#searchRow h5{
    color: whitesmoke;
    font-weight: 400;
}

Footer {
    margin-top: 120px;
    clear: both;
}
